h2{text-decoration: wavy;
font-style: oblique;
color: aliceblue;
background-color: black;
padding: 35px;

}
p{text-decoration: wavy;
    font-style: oblique;
    color: aliceblue;
    background-color: black;
    padding: 35px;}